.columna{
    margin-left: 8%;
}
.imagenes{
    width: 400px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 50px;
}
.boton{
    margin-left: 45%;
    margin-top: 2%  ;
}