.columna{
    margin-left: 6%;
}
.imagenes{
    width: 300px;
}
h4{
    margin-right: 25%;
    padding: 10px;
}
.boton{
    margin-left: 45%;
    margin-top: 2%  ;
}
h1{
    text-align: center;
}